<ul>
<li><a href="/artists">See the list of artists</a></li>
<li><a href="/artists/new">Add a new artist</a></li>
<li><a href="/albums">See the current list of albums</a></li>
<li><a href="/albums/new">Add a new album</a></li>
<li><a href="/stocked">Check the current stock levels for all albums</a></li>

</ul>