
<a href="/artists">See the list of artists</a>
<a href="/artists/new">Add a new artist</a>
<a href="/albums">See the current list of albums</a>
<a href="/albums/new">Add a new album</a>
<a href="/stock">Check the current stock levels for all albums</a>