<!DOCTYPE html>
<html>
<head>
  <title>Keith's Music Shop</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Keith's Music Shop</h1>
<%= yield %>
</body>
</html>