<h3>Edit Artist - <%= @artist.name %></h3>

<div class="music">

<form action="/artists/<%= @artist.id %>" method="post">

<label>Name:</label>
<input type="text" name="name" value="<%= @artist.name %>">

<input type="submit" value="Update Artist">


</form>
<br>

<form action="/artists/<%= @artist.id %>/delete" method="post"> 
  <input type="submit" value="Delete Artist"></input> <i> Warning this will remove any albums attached to this artist too! </i>
</form>
</div>