<h3>Artists</h3>
<h4>Click any artist's name to edit</h4>

<% @artists.each do |artist| %>

  <b>Artist: </b>
  <a href="/artists/<%= artist.id %>/edit"><%= artist.name %></a>

  <hr>


<% end %>


<a href="/artists/new">Add a new artist</a>