<h3>New Artist</h3>

<div class="music">

<form action="/artists" method="post">

<label for="name">Name:</label>
<input type="text" name="name">

<input type="submit" value="Add Artist">

</form>
</div>